<div [ngClass]="{ ' list-group-item': true,
                'list-group-item-secondary': postLoveIts==0,
                'list-group-item-success': postLoveIts >0,
                'list-group-item-danger': postLoveIts <0}">
  
  <div class="d-inline-flex w-100 justify-content-between"  style="justify-content: space-between!important ; display: flex!important">
    <h5  >{{ postTitle }}</h5>
    <p  >{{ postDate | date: 'short' }}</p>
  </div>
  <p>{{ postContent }}</p>

  <div>
    <span class="badge badge-secondary" style="margin-right:6px">{{postLoveIts}}</span>
    <button class="btn btn-success" style="margin-right:6px"
            (click)="onLoveIt(true)">Love It </button>
    <button class="btn btn-danger"
              (click)="onDontLoveIt()">Don't love It </button>
  </div>
</div>
